body {
    background-color: white;
}

h1{
    color: rgb(38, 118, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}
h3{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
h4{
    color: black;
    font-family: "Montserrat", sans-serif;
}

img.pic1 {
    max-width: 100%;

}

tr{
    background-color: bisque;
}

table {
    background-color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}

img {
    max-width: 100%;
    
}

.button2{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}

.form{
    margin-top: 20px;
    margin-bottom: 20px;
}
.music{
    
    background-color: rgb(61, 61, 61);
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 10px;

}

.playlist{
    font-family: monospace;
    font-size: small;
    padding-left: 20px;
    color:greenyellow ;
}

.button2{
    
    color: rgb(34, 34, 34);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: ;

} */

li,a,.nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    box-sizing: border-box;
    background-color: rgb(32, 31, 31);
}

.logo {
    cursor: pointer;
}
.nav_links li {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding:0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    
}
.nav_links li a:hover {
    color: #2b639e
}

button {
    padding: 9px 25px;
    background-color: rgb(54, 133, 218);
    border: none;
    border-radius:  50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
    
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}
